<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desarollo.luisvillalobos.gardenkit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/img_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img_launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="sqlcipher.database.name"
            android:value="{$DB_NAME}" />
        <meta-data
            android:name="sqlcipher.database.password"
            android:value="{$DB_PASSWORD}" />

        <activity android:name=".Activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.FormDevice" />
        <activity android:name=".View.graphsJ" />
        <activity android:name=".Activity.ListDevices"></activity>
    </application>

</manifest>